*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.content {
    display: grid;
    justify-content: center;
    
}

.inputs {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 60px;    
}
.inputs input {
    height: 60px;
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
    width: 200px;
}
textarea {
    border-radius: 20px;
    height: 60px;
    width: 200px;
    text-align: center;
}
.button {
    display: flex;
    margin-top: 100px;
    justify-content:center;
    text-align: center;
}

.button button {
    border-radius: 20px;
    height: 80px;
    width: 200px;
    color: brown;
}


.listaDePosts {
    display: grid;
    justify-content: left;
    margin-top: 200px;
}