* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.content {
    display:grid;
    justify-content: center;
    margin-top: 50px;
}

.Criacao {
    margin-top : 50px;
    display: flex;
    gap: 20px;
}
.Criacao input {
    height: 35px;
    width: 200px;
}

.botao {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}
.botao button {
    border-radius: 20px;
    justify-content: center;
    height: 60px;
    width: 200px;
}

.impressao {
    display: flex;
    margin-top: 50px;
    color:black;  
}

